.app-container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 70vh;
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 {
  background-color: white;
  padding-top: 40px;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #a35200;
  font-size: 30px;
}
.para {
  color: black;
  font-size: 15px;
}
.image {
  height: 20vh;
  width: 20vw;
}
.button {
  background-color: #f9d423;
  height: 3vh;
  width: 10vw;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  font-size: 7px;
  border-radius: 10px;
  margin-top: 20px;
}
.count-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.count {
  font-size: 14px;
  color: black;
  margin-right: 20px;
}
